<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Task.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>WatchDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>176704E32259EC3F00EDB2D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17801A6C2253287000B40EFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17B40F7B2238D60700C8882D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17B40F8F2238D60800C8882D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
